body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    }

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }

.infotext {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
div.tooltip {
    position: absolute;
    max-width: 200px;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.5)
    pointer-events: none;
    font-family: arial, sans-serif;
    font-size: 10px
}